
<h3>General</h3>

user ID: {{user.id}}
<br/>email: {{user.username}}
<br/>subscribed: {{user.isSubscribed}}
<br/>roles: {% for role in user.roles %}
    {{role}}
{% endfor %}
<br/>
<h3>User Preferences: </h3>
<p>{% for pref, prefvalue in user.preferences %}
    {{pref}}: {{prefvalue}}<br/>
{% endfor %}</p>

{% if patronData %}
<h3>Patreon Data:</h3>
<strong>id:</strong> {{patronData.id}}
<br/><strong>patron_status:</strong> {{patronData.patron_status}}
<br/><strong>type:</strong> {{patronData.type}}
<br/><strong>currently_entitled_amount_cents:</strong> {{patronData.currently_entitled_amount_cents}}
<br/><strong>last_charge_date:</strong> {{patronData.last_charge_date|date("M d, Y")}}
<br/><strong>lifetime_support_cents:</strong> {{patronData.lifetime_support_cents}}
<br/><strong>pledge_relationship_start:</strong> {{patronData.pledge_relationship_start|date("M d, Y")}}
<br/><strong>patreonAccessToken:</strong> {{patronData.patreonAccessToken}}
<br/><strong>patreonRefreshToken:</strong> {{patronData.patreonRefreshToken}}
<br/><strong>patreonTokenExpiry:</strong> {{patronData.patreonTokenExpiry}}
<br/><strong>patreonSubscriber:</strong> {{patronData.patreonSubscriber}}
{% endif %}
