<div class="col-12">
    <div class="row row-cards">
        <div class="col-sm-6 col-lg-4">
            <div class="card card-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                            <div class="col-auto">
                                <span class="bg-x text-white avatar"><i class="fa-solid fa-user"></i></span>
                            </div>
                            <div class="col">
                                <div class="font-weight-medium">
                                    {{ statsData['userCount'] }}
                                </div>
                                <div class="text-secondary">Total Registered Users</div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <span class="bg-x text-white avatar"><i class="fa-solid fa-dollar-sign"></i></span>
                            </div>
                            <div class="col">
                                <div class="font-weight-medium">
                                    {{ statsData['subscriberCount'] }}
                                </div>
                                <div class="text-secondary">Patreon Subscribers</div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <span class="bg-x text-white avatar"><i class="fa-solid fa-book-open"></i></span>
                            </div>
                            <div class="col">
                                <div class="font-weight-medium">
                                    {{ statsData['storiesCount'] }}
                                </div>
                                <div class="text-secondary">Stories Tracked</div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>

    <br/><br/><br/>


<table class="table table-vcenter">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">user</th>
            <th scope="col">subscribed</th>
            <th scope="col">roles</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td><a href="/admin/{{user.id}}">{{user.username}}</a></td>
            <td>{% if user.isSubscribed %}Yes{% endif %}</td>
            <td>
            {% for role in user.roles %}
                {{role}}
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>