{% extends "base.html.twig" %}

{% block body %}
<div class="card-group support mt-3 mt-lg-5">
    <div class="card ">
        <h1 class="card-title p-3">Rising Stars Tracker [Meta-Analytics, Reincarnation]</h1>
        <div class="card-body">
            <ul class="list-inline">
                <li><strong>Genres:</strong></li>
                <li class="list-inline-item"><i class="fa-solid fa-shield-halved"></i> Survival Drama</li>
                <li class="list-inline-item"><i class="fa-solid fa-arrow-trend-up"></i> Statistical Progression</li>
                <li class="list-inline-item"><i class="fa-solid fa-pen-fancy"></i> Meta-Writing</li>
                <li class="list-inline-item"><i class="fa-solid fa-face-dizzy"></i> Why Isn't My Story Trending?!</li>
            </ul>
            <hr>
            <p>Quietly walking home one day after work, Rising Stars was unexpectedly hit by a truck! Now they've awakened in a strange new world, a world made up of lists and genres and wordsmiths of every size and shape. Granted the powerful unique class 'Tracker', the newly christened Rising Stars Tracker (version 0.1) will need to adapt (and push out new versions) if they hope to survive! Armed with nothing but their own will to write, and a desire to climb the genre lists, Rising Stars Tracker will vow to defeat the evil Queen Procrastination and come out on top!</p>

            <p class="mb-0"><strong>What You Can Expect:</strong></p>
            <ul>
                <li>Instant Glory Alerts: Get notified the moment your story graces Rising Stars (coming soon).</li>
                <li>Survival Stats: Track how long you hold onto your throne — whether it's hours, days, or *gasp* YEARS?!</li>
                <li>Straightforward Design: Just the info you actually care about.</li>
                <li>Because every author deserves to know when they're a star — even if it's only for 15 minutes.</li>
            </ul>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}{% else %}
                <p class="h4 text-center mt-5 mb-3">Track your rising star! <a href="/login">Login</a> or <a href="/register">Register</a> to get started!</p>
            {% endif %}

            <h2 class="h2">What is it really?</h1>
            <p class="h5">Skip the meta-description nonsense.</p>
            <p>After registration you'll be able to track each of your stories on Royal Road, and receive an alert (coming soon) when you make it to any of the Rising Stars lists.<br/>
            Add your story URL and choose which genres to track, in addition to the main list.<br/>
            When you get on any Rising Stars list, it'll be tracked in the database and you'll know how long you stayed on it.<br/>
            If you fall off the list and get back on later, you'll see that too!</p>
        </div>
    </div>
</div>

<div class="card mt-5 pb-5">
    <h2 class="pt-3 mt-5 text-center">RS High Scores!</h2>
    <p class="card-text text-center mb-5" style="font-size: small;">Starting From December 24, 2024</p>

    <div class="col-12 text-center">
        <h3 class="card-title p-5">Longest time at #1 on Rising Stars Main</h3>
        <div class="card-body">
            <p class="h4 card-text p-0"><a href="{{main['url']}}">{{main['name']}}</a></p>
            <p class="card-text"><small class="text-body-secondary">Duration: {{main['duration']}}</small></p>
        </div>
    </div>

    <div class="d-flex p-sm-5 flex-wrap bd-highlight">
        {% for item in numberOnes %}
        <div class="card m-3 flex-fill bd-highlight">
            <div class="row g-0">
                <div class="">
                    <h5 class="card-title p-3">Longest time at #1 on {{item['genre']}}</h5>
                    <div class="card-body">
                        <p class="card-text"><a href="{{item['url']}}">{{item['name']}}</a></p>
                        <p class="card-text"><small class="text-body-secondary">Duration: {{item['duration']}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block javascripts %}
{# <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script> #}



{% endblock %}