{% extends "base.html.twig" %}

{% block body %}

<div class="card-group mt-3 mt-lg-5">
    <div class="card border-dark p-5">
        <h4 class="card-title p-2 mb-3 text-center">Free Features</h4>
        <ul>
            <li>Track any story you like, as many stories as you like.</li>
            <li>Get an alert when any story you're tracking hits <strong>20th</strong> place or higher.</li>
            <li>Track all of the <strong>standard</strong> genre Rising Stars lists (action, comedy, romance, etc), as well as the Main list itself.</li>
        </ul>
    </div>
        
    <div class="card border-dark p-5">
        <h4 class="card-title p-2 mb-3 text-center">Patron Features</h4>
        <ul>
            <li><strong>All of the free</strong>, plus...</li>
            <li>Get an alert when any story you're tracking hits <strong>50th</strong> place or higher.</li>
            <li>Track all of the <strong>hidden</strong> genres Rising Stars lists (dungeon, time-travel, xianxia, gender-bender, etc).</li>
            <li>View advanced analytics, such as highest rank over time.</li>
        </ul>

        <div class="card-group">
            <div class="card border-light justify-content-center">
                <img src="{{ asset('assets/images/ranking.png') }}" class="card-img-top mx-center" data-bs-toggle="modal" data-bs-target="#rankingModal" style="cursor: pointer;" alt="Ranking photo thumbnail">
                <div class="modal fade" id="rankingModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <img src="{{ asset('assets/images/ranking.png') }}" class="img-fluid" alt="Ranking photo">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                
            <div class="card border-light justify-content-center">
                <img src="{{ asset('assets/images/ratings.png') }}" class="card-img-top mx-center" data-bs-toggle="modal" data-bs-target="#ratingsModal" style="cursor: pointer;" alt="Ratings photo thumbnail">
                <div class="modal fade" id="ratingsModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <img src="{{ asset('assets/images/ratings.png') }}" class="img-fluid" alt="Ratings photo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-group support mt-3 mt-lg-5">
    <div class="card text-center border-dark">
        <div class="card-img-overlay card-title d-flex flex-column justify-content-between border" style="height:100%">
            <h4 class="card-title p-3 text-center"><strong>Get</strong> Support</h4>
            <div class="alert alert-info mt-3" role="alert" style="opacity: 85%">
                <p class="card-text">Spot something that's not working right, confused and need help, or just want to see the code?</p>
                <p class="card-text">Check out <a href="https://github.com/inconsiderate/rs_tracker">GitHub</a> to report issues, or ask for help.</p>        
            </div>
        </div>
        <img src="{{ asset('assets/images/helpyou.png') }}" class="card-img-top mx-auto" alt="...Help you.">
    </div>
    <div class="card text-center border-dark">
        <div class="card-img-overlay card-title d-flex flex-column justify-content-between border" style="height:100%">
            <h4 class="card-title p-3 text-center"><strong>Give</strong> Support</h4>
            <a href="https://www.patreon.com/inconsiderate/membership"><img src="{{ asset('assets/images/patreon.jpg') }}" class="img-fluid rounded" alt="Become a Patron"></a>
            <div class="alert alert-info mt-3" role="alert" style="opacity: 85%">
                <br/><a href="/profile">Become a Patron to Unlock Subscriber Benefits</a><br/><br/><p><p/>
            </div>
        </div>
        <img src="{{ asset('assets/images/helpme.png') }}" class="card-img-top mx-auto" alt="Help me...">
    </div>
</div>
{% endblock %}