{% extends "base.html.twig" %}

{% block body %}

{% include 'partials/_genre_daily.html.twig' %}

<div class="card-group support mt-3 mt-lg-5">
    {% include 'partials/_genre_record.html.twig' %}
    {% include 'partials/_tag_record.html.twig' %}
</div>

<div class="card-group mt-3 mt-lg-5">
    <div class="card border-dark">
        <h2 class="card-title p-3 mb-0">RS List History</h2>
        <div class="card-body">
            <table class="table">
                <table class="table table-responsive" id="genreTable">
                    <thead>
                        <tr>
                            <th>Entered List</th>
                            <th>Story Title</th>
                            <th>RS List</th>
                            <th>Highest Position</th>
                            <th>Consecutive<br/>Time on RS</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in genreMatches %}
                        <tr>
                            <td data-order="{{item.date|date('Ymd')}}">{{item.date|date("M d, Y H:i")}}</td>
                            <td>{{item.storyName}}</td>
                            <td><a href="{{item.rsLink}}">{{item.genre|capitalize}}</a></td>
                            <td>{{item.highestPosition}} {% if item.active %}<i class="fa fa-star"></i>{% endif %}</td>
                            <td data-order="{{item.timeOnListInt}}">{{item.timeOnList}} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <td scope="row" colspan="5"><i class="fa fa-star"></i> = this title is currently on this list!</td>
                    </tfoot>
                </table>
            </div>
        </div>    
    </div>




    {% if app.user.isSubscribed and app.user.getDisplayHiddenLists %}
    <div class="card-group mt-3 mt-lg-5">
        <div class="card border-dark">
            <h2 class="card-title p-3 mb-0">Secret RS List History</h2>
            <div class="card-body">
                    <table class="table table-responsive" id="tagTable">
                        <thead>
                            <tr>
                                <th>Entered List</th>
                                <th>Story Title</th>
                                <th>RS List</th>
                                <th>Highest Position</th>
                                <th>Consecutive<br/>Time on RS</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in tagMatches %}
                            <tr>
                                <td data-order="{{item.date}}">{{item.date|date("Y-m-d H:i")}}</td>
                                <td>{{item.storyName}}</td>
                                <td><a href="{{item.rsLink}}">{{item.genre|capitalize}}</a></td>
                                <td>{{item.highestPosition}} {% if item.active %}<i class="fa fa-star"></i>{% endif %}</td>
                                <td data-order="{{item.timeOnListInt}}">{{item.timeOnList}} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <td scope="row" colspan="5"><i class="fa fa-star"></i> = this title is currently on this list!</td>
                        </tfoot>
                    </table>
                </div>
            </div>    
        </div>
    </div>    
    {% endif %}

    {% if not app.user.isSubscribed %}
    <div class="card-group mt-3 mt-lg-3">
        <div class="card border-dark"><a href="/profile" class="text-center m-4">Become a Patron to Unlock Subscriber Benefits</a>
        </div>
        </div>
    {% if tagMatches %}
    <div class="card-group mt-3 mt-lg-3">
        <div class="card border-dark">
            <h2 class="card-title p-3">Secret RS List History</h2>
            <div class="card-body">
                    <table class="table table-responsive" id="tagTable">
                        <thead>
                            <tr>
                                <th>Entered List</th>
                                <th>Story Title</th>
                                <th>RS List</th>
                                <th>Highest Position</th>
                                <th>Consecutive<br/>Time on RS</th>
                            </tr>
                        </thead>
                        <tbody style="filter: blur(2px);">
                        {% set strings = ['Artificial Intelligence', 'Low Fantasy', 'Time Loop', 'Reincarnation', 'School Life', 'Steampunk', 'Supernatural', 'First Contact', 'Dungeon', 'Villainous Lead'] %}
                        {% for item in tagMatches|slice(0, 4) %}
                            {% set repeatStr = random(1, 5) %}
                            
                            <tr>
                                <td>1̸̻́͐̍2̶̛̱̉/̵̝̘̀2̶̫̯̀̾̚2̶̩̒̋4̷͍͐ ̴̜̂̓0̴̙̺͆́4̸̮͂́:̴̥̜͛5̶̨̲̓̆5̵̽͜</td>
                                <td>{{ range(1, repeatStr)|map(_ => 'P̶̝̃o̴̡̙̟͆w̴̭̫̟͑e̵͚̩̅̈́ŗ̶͕̀̾͗ȋ̷͔͑͜o̷̪̠̐r̴̨̟̋͊͐ ̸̧͎̊̅S̵͈̫͑ͅt̸̼̮̂o̴̠̩͚̐̕r̷̮͎̃͒y̴̧̛̯͛͛')|join('') }}</td>
                                <td>{{ random(strings) }}</td>
                                <td>{{ random(1, 50) }}</td>
                                <td>1̶̛̜͖̾1̵̀ͅ ̶͚̥̌͠d̴̳̓a̵̳̐̓ỹ̵̙̤s̸͇̿͘ ̷̞̽2̷̹̯́̍ ̵̩͎̀ḣ̶͇ò̵̢̧͝u̴̥̇͠r̷̮̞͋s̶̟͙̓</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <td scope="row" colspan="5"><i class="fa fa-star"></i> = this title is currently on the list!</td>
                        </tfoot>
                    </table>
                </div>
            </div>    
        </div>
    </div>
                        
    {% endif %}
    {% endif %}
</div>

{% endblock %}

{% block javascripts %}
    <script>
        $('#genreTable').DataTable({
            pageLength: 50,
                order: [
                    [1, 'asc']
                ]
        });
        $('#tagTable').DataTable({
            pageLength: 50,
                order: [
                    [1, 'asc']
                ]
        });
    </script>
{% endblock %}
