<div class="card border-dark mt-5">
    <h2 class="pt-3 mt-2 text-center"><i class="fa fa-meteor fa-rotate-180"></i> Recent Additions to Rising Stars <i class="fa fa-meteor fa-rotate-90"></i></h2>
    <p class="card-text text-center mb-4" style="font-size: small;">Updated Every 15 Minutes</p>

    <div class="col-12">
        <div class="card-title p-sm-5 mb-0">
            <div class="card-body pt-sm-0 p-sm-5">
                <div class="row fw-normal">
                    {% for item in recentFeedItems|slice(0, 20) %}
                    <p class="card-text col-sm-6 p-3 pb-0"><a href="/search/{{item['id']}}">{{item['name']}}</a> ( <a href="{{item['url']}}"><i class="fa-solid fa-r"></i><i class="fa-solid fa-r"></i></a> )
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('refresh_story', { 'id': item.internalId }) }}" class="btn" onclick="event.preventDefault(); if(confirm('Are you sure you want to refresh this item?')) document.getElementById('refresh-form-{{ item.internalId }}').submit();">
                        <i class="fa-solid fa-arrows-rotate"> </i>
                        </a>
                    {% endif %}

                    <br/>Ranked {{item['rank']}} in <strong>{{item['genre']|replace({'_': ' '})|title}}</strong> {{item['duration']}} ago
                    <br/><em>{% if item['blurb'] %}{{item['blurb']}}...{% endif %}</em></p>

                    {% if is_granted('ROLE_ADMIN') %}
                    <form id="refresh-form-{{ item.internalId }}" action="{{ path('refresh_story', { 'id': item.internalId }) }}" method="GET" style="display: none;">
                        <input type="hidden" name="_method" value="REFRESH">
                        <input type="hidden" name="_token" value="{{ csrf_token('refresh' ~ item.internalId) }}">
                    </form>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>