{% extends "base.html.twig" %}

{% block body %}


<div class="card-group support mt-3 mt-lg-5">
    <div class="card">
        <h4 class="card-title p-3 m-0 text-center">Logged in as {{app.user.username}}</h4>
    </div>
</div>

<div class="card-group support mt-3 mt-lg-5">
    <div class="card col-md-6 m-1">
        <h4 class="card-title p-3 text-center">User Preferences</h4>
        <div class="card-body">
            {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}

            <form action="{{ path('app_profile') }}" method="post">
                {{ form_widget(userPreferencesForm._token) }}
                <div class="form-check form-switch">
                    {{ form_widget(userPreferencesForm.sendMeEmails, {
                        'attr': {'class': 'form-check-input', 'role': 'switch'},
                        'required': false
                    }) }}
                    <label class="form-check-label" for="{{ userPreferencesForm.sendMeEmails.vars.id }}">Send Me Emails</label>
                </div>
                <button type="submit" class="mt-3 btn btn-primary">Save Preferences</button>
            </form>


            <div class="mt-5">
                {{ form_start(usernameForm) }}
                    <label for="username">Change Your Email Address?</label>
                    <input placeholder="example@royalroadwatch.site" type="email" value="{{ field_value(usernameForm.username) }}" name="{{ field_name(usernameForm.username) }}" id="{{ field_name(usernameForm.username) }}" class="form-control mt-1 mb-2" autocomplete="username" required>     
                    {{ form_row(usernameForm.save) }}
                {{ form_end(usernameForm) }}
            </div>
        </div>
    </div>
    <div class="card col-md-6 m-1">
        <h4 class="card-title p-3 text-center"><strong>Subscriber</strong> User Preferences</h4>
        <div class="card-body">
        
        {% if user.isSubscribed %}
            <form action="{{ path('app_profile') }}" method="post">
                {{ form_widget(userProPreferencesForm._token) }}
                <div class="mb-3">
                <label for="{{ userProPreferencesForm.minRankToNotify.vars.id }}" class="form-label">Minimum Rank to Notify: <strong id="rankValue"> {{app.user.minRankToNotify}}</strong> </label>
                <p><span>50 </span>{{ form_widget(userProPreferencesForm.minRankToNotify, {
                    'attr': {
                        'class': 'range-slider form-range',
                        'min': 1,
                        'max': 50,
                        'step': 1
                    }
                }) }}<span> 1</span></p>
                </div>
                <div class="form-check form-switch">
                    {{ form_widget(userProPreferencesForm.displayHiddenLists, {
                        'attr': {'class': 'form-check-input', 'role': 'switch'},
                        'required': false
                    }) }}
                    <label class="form-check-label" for="{{ userProPreferencesForm.displayHiddenLists.vars.id }}">Display hidden lists</label>
                </div>
                <div class="form-check form-switch">
                    {{ form_widget(userProPreferencesForm.emailHiddenLists, {
                        'attr': {'class': 'form-check-input', 'role': 'switch'},
                        'required': false
                    }) }}
                    <label class="form-check-label" for="{{ userProPreferencesForm.emailHiddenLists.vars.id }}">Receive emails for hidden lists</label>
                </div>
                <button type="submit" class="mt-3 btn btn-primary">Save Subscriber Preferences</button>
            </form>
            
            <div class="text-end mt-5"><a href="https://www.patreon.com/oauth2/authorize?response_type=code&client_id={{ app.request.server.get('PATREON_CLIENT_ID') }}&redirect_uri={{ app.request.server.get('PATREON_REDIRECT_URI') }}">Reconnect Patreon Account</a></div>
        {% else %}

            <a href="https://www.patreon.com/inconsiderate/membership">
            <img src="{{ asset('assets/images/patreon.jpg') }}" class="img-fluid rounded mx-auto d-block" alt="Become a Patron">
            </a>
            <div class="text-center m-3 mb-5">Already a subscriber?<br/><a href="https://www.patreon.com/oauth2/authorize?response_type=code&client_id={{ app.request.server.get('PATREON_CLIENT_ID') }}&redirect_uri={{ app.request.server.get('PATREON_REDIRECT_URI') }}">Click Here to Connect a Patreon Subscription</a><br/>and access subscriber features</div>

            <div class="alert alert-info" role="alert">
            Subscriber Benefits:<br/>
            - Get notified instantly! <br/>
            - Track ranks from 50 up to first place!<br/>
            - View and track hidden genre lists!
            </div>

            <label for="minimumRankEmail2" class="form-label">Minimum Rank to Notify: <strong id="rankValue">Currently locked at 20</strong> </label>
            <p><span>50 </span><input style="direction:rtl;height:0.6rem;width:90%" type="range" class="form-range" min="1" max="50" value="20"disabled><span> 1</span></p>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="displayHiddenLists" value="off"disabled>
                <label class="form-check-label" for="displayHiddenLists">Display hidden lists</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="alertHiddenLists" value="off" disabled>
                <label class="form-check-label" for="alertHiddenLists">Receive emails for hidden lists</label>
            </div>
            <button type="submit" class="mt-3 btn btn-primary disabled" disabled>Save Subscriber Preferences</button>

        {% endif %}

        </div>
    </div>
</div>

<script> 
    var el = document.getElementById('rankValue'); 
    var r = document.getElementById('{{ userProPreferencesForm.minRankToNotify.vars.id }}'); 
    el.innerText = r.valueAsNumber; 
    r.addEventListener('change', () => { 
        el.innerText = r.valueAsNumber; 
    }) 
</script> 

{% endblock %}